@charset "UTF-8";

/*---------------------------------------------------------------------------

URL htttp://template-party.com/
---------------------------------------------------------------------------*/

body {
	color: #897049;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font: 75%/2 /*15px/2.5*/ "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Osaka", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	background: #FFFFFF url(../images/bg.jpg) center;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form{
	margin: 0px;
	padding: 0px;
	color: rgb(94, 87, 87);
}
#main li {
    text-indent: -1em;
    margin-left: 1em;
}
#main #address ul li{
	list-style-type: none;
}
img {
	border: none;
}
input,textarea,select {
	font-size: 1em;
}
form {
	margin: 0px;
}
table {
	border-collapse: separate;
	font-size: 100%;
	border-spacing: 0;
	/*margin-left: 40px;*/
	border: solid;
}

/*---------------------------------------------------------------------------*/
#main th {
    border: 1px solid;
    text-align: center;
    width: 170px;
    background-color: #ecdf2b;
}
#main table.emp{
	margin: 0 0 20px 2em;
}
#main table.emp tr td {
    border: 1px solid;
}

/*---------------------------------------------------------------------------*/
p.mailto {
    text-align: center;
    margin: 40px 170px 40px 170px;
    border: 1px dotted #ecdf2b;
    box-shadow: 1px 1px 1px 2px rgba(236, 223, 43, .8);
}
p.mailto a {
    font-size: 18px;
    font-style: italic;
}

/*---------------------------------------------------------------------------*/
a:hover {
	color: #6FBC0C;
	text-decoration: none;
}
#main a{
	color: #6FBC0C;
}

/*---------------------------------------------------------------------------*/
#container {
	text-align: left;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
/*h1*/
#container h1 {
	font-size: 9px;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}
#container h1 a {
	text-decoration: none;
}

/*---------------------------------------------------------------------------*/
/*header*/
header {
	position: relative;
	height: 80px;
}
header .hlg a{
	position: absolute;
	width: 450px;
	height: 80px;
	margin: 0 auto;
	background: url(../sunkit_logo60trim.gif) no-repeat;
}
header p {
    position: absolute;
    left: 480px;
    top: 20px;
    font-size: 22px;
    font-family: Meiryo UI;
    font-style: italic;
    text-shadow: 3px 3px 3px rgba(94, 87, 87, .5);
}
.p-idx {
    position: relative;
    text-align: right;
    top: -40px;
    right: -725px;
    font-size: 22px;
    font-family: Meiryo UI;
    font-style: italic;
    text-shadow: 3px 3px 3px rgba(94,87,87,.5);
}

/*---------------------------------------------------------------------------*/
#contents {
	background: url(../images/contents_bg.gif) repeat-y;				
	overflow: hidden;
}

/*---------------------------------------------------------------------------*/
#main {
	margin: 20px 0 25px 0;
	padding-right: 20px;
	width: 650px;
	float: right;
}

/*---------------------------------------------------------------------------*/
#main h2:before {
	content: url("../images/leaf.png");
    position:relative;
    top: 4px;
}
#main h2 {
	font-size: 150%;
	color: rgb(121, 189, 54);
	clear: both;
	width: 630px;
	line-height: 1;
	border-bottom: 5px solid #9f8458;
}

/*---------------------------------------------------------------------------*/
div#frame-bottom {
	height: 50px;
}
/*file about.php*/
/*
img.ceo {
    width: 25%;
    height: 25%;
    float: right;
    margin-right: 70px;
    padding-left: 15px;
}
#main #hello p {
    font-size: 14px;
}
span#k-title {
    position: relative;
    top: 230px;
    left: 420px;
    font-size: 14px;
}
*/
#main p {
	padding: 0.5em 10px 0em 2em;
	background: #FFF;
	font-size: 16px;
}

/* Let's go stores */
p.gostore {
    position: relative;
    left: 250px;
    border: 3px dotted;
    width: 290px;
    height: 50px;
    line-height: 3;
    margin: 40px 0px 20px 0px;
    font-size: 16px;    
    font-weight: bold;
    /* z-index: 30; */
}
/*
span#shiny{
    position: absolute;
    top: 230px;
}
.white-g {
    background: rgba(255, 255, 255, .6);
    width: 20px;
    height: 130px;
    position: absolute;
    left: 510px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow:0px 0px 10px 3px #fff;
    -moz-box-shadow:0px 0px 10px 3px #fff;
    -webkit-box-shadow:0px 0px 10px 3px #fff; 
    z-index: 20;
}
* */
.green-a {
	background: url("../images/tum-green01.gif");    
	height: 128px;
	width: 110px;
	position: relative;    
	top: -60px;    
	left: 180px;    
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); 
	z-index: 10;
}

/*---------------------------------------------------------------------------*/
p.indt {
    text-indent: -8em;
    margin-left: 8em;
}
#main p.privacy {
    font-size: 14px;
}

/*---------------------------------------------------------------------------*/
#main ul li {
    padding-left: 30px;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 14px;
}

/*---------------------------------------------------------------------------*/
/*file products.php*/
ul#tab {
	position: relative;
	margin-left: 50px;
}
ul#tab.clearfix li {
	float: left;
	list-style: none;
	padding-right: 15px;
	margin-left: -20px;
	border: 3px ridge rgba(94, 87, 87, .3);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	/* Firefox */
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgba(94, 87, 87, .2));
	/* Chrome & Safari */   
	background: -webkit-gradient(linear, center top, center bottom, from(rgb(255, 255, 255)), to(rgba(94, 87, 87, .2)));
	/* Share */
	background: -ms-linear-gradient(top, rgb(255, 255, 255), rgba(94, 87, 87, .2));
}
ul#tab.clearfix li a{
	font-size: 16px;
	text-align: center;
	text-decoration: none;
}
.select {
	margin-top: 5px;
	color: rgb(94, 87, 87);
	font-weight: bold;
	cursor: default;
}
.select:hover {
	color: rgb(94, 87, 87);
}
.category {
	clear: left;
	padding: 20px 0px 20px 20px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	/* Firefox */
    -moz-box-shadow: 0px 0px 30px -3px rgba(94, 87, 87, .6) inset;
	/* Chrome & Safari */
	-webkit-box-shadow: 0px 0px 30px -3px rgba(94, 87, 87, .6) inset;
	/* Share */
	box-shadow: 0px 0px 30px -3px rgba(94, 87, 87, .6) inset;
}

/*---------------------------------------------------------------------------*/
/*item list*/
#main .box1{
	width: 600px;
}
#main .box1 h3 {
	color: #6FBC0C;
}
.box1 .exp{
	padding: 0px;
	line-height: 1.6;
	font-size: 12px;
}
.box1 .modal img {
    width: auto;
    max-height: 200px;
    cursor: pointer;
}
.box1 .modal img.boxH {
    padding-left: 20px;
    width: auto;
    max-height: 200px;
}
.box1 .modal img.boxW {
    max-width: 240px;
    height: auto;
}
/**/

/*---------------------------------------------------------------------------*/
/*file recommend.php*/
.main-bg {
    height: 190px;
    background: url(../images/bg_yukidaruma_h2.gif);
}
input#r_btn {
    width: 240px;
    height: 70px;
    margin-bottom: 40px;
    font-size: 16px;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;  
	border-radius: 8px;
	/* Firefox */
	background: -moz-linear-gradient(top, rgba(225, 123, 52, .4), rgb(225, 123, 52));
	/* Chrome & Safari */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(225, 123, 52, .4)), to(rgb(225, 123, 52)));
	/* Share*/
	background: -ms-linear-gradient(top, rgba(225, 123, 52, .4), rgb(225, 123, 52));
	color: rgb(243, 243, 242);
    cursor: pointer;
}
input#c_btn {
    width: 90px;
    height: 50px;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;  
	border-radius: 8px;
    cursor: pointer;
}
/**/

/*---------------------------------------------------------------------------*/
/*file sidebar*/
#sub {
	margin: 20px 0 0 20px;
	width: 230px;
	float: left;
}
#sub ul.c.mb1em {
	position: relative;
    list-style-type: none;
    margin-bottom: 16px;
}
#sub ul.c.mb1em li {
	position: relative;
}
#sub ul.c.mb1em li p {
	/*margin-right: 42px;*/
	/*margin-left: 42px;*/
}
#sub ul.c.mb1em li p:hover {
	background: rgba(84, 132, 33, .7);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
#sub ul.c.mb1em li p a {
	display: block;
	color: rgb(84, 132, 33);
	font-size: 16px;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	width: 100px;
	padding: 0 65px;
	line-height: 3;
	text-decoration: none;
	border-bottom: 1px dashed;
}
#sub ul.c.mb1em li p a:hover {
	color: #fff;
	/*border-bottom: none;*/
}

/*---------------------------------------------------------------------------*/
/*category link*/
ul.pside {
    position: absolute;
    display: none;
    top: 25px;
    left: 180px;
    width: 60%;
    background: rgba(84, 132, 33, .8);
    border-top: 3px double #fff;
	border-bottom: 3px double #fff;
}
ul.pside li {
    list-style-type: none;
    padding: 7px 0;
    border-bottom: solid 1px #fff;
}
ul.pside li a {
    color: #fff;
    font-size: 14px;
	text-decoration: none;
	display: block;
}
.fb-img {
	height: 80px;
	margin-bottom: 16px;
}
.fb-img a {
	background-image: url("../images/fb_sk.png");
	width: 230px;
	height: 80px;
	display: block;
}
.fb-img a:hover {
    opacity: 0.7;
}
.chk{
	height: 80px;
	margin-bottom: 16px;
}
.chk a{
	background-image: url("../images/shindan.png");	
	width: 230px;
	height: 80px;
	display: block;
}
.chk a:hover {
    opacity: 0.7;
}

/*---------------------------------------------------------------------------*/
h3.text {
	position: relative;
	color: #FFFFFF;
	font-size: 100%;
	text-align: center;
	letter-spacing: 2px;
	padding: 5px;
	background-color: rgb(84, 132, 33);
	border-style: double;
	z-index: 20;
}
/* Lineup */
.lineup {
	position: relative;
	width: 230px;
    height: 245px;
    overflow-y: auto;
}
.lineup ul {
	position: absolute;
	/*top: 40px;*/
    list-style: none;
    text-align: center;
    width: 210px;
    height: 490px;
    z-index: 10;
}
.lineup ul li {
    border: 1px solid rgb(192, 192, 192);
    background: #fff;
}
.lineup ul li:nth-child(even) {
	background-color: rgb(84, 132, 33);
}
div#plst {
	color: rgb(84, 132, 33);
	cursor: pointer;
}
.lineup ul li:nth-child(even) > div#plst {
	color: #fff
}
div#plst:hover {
	text-decoration: underline;
}
/**/

/*---------------------------------------------------------------------------*/
#thumbnail {
	overflow: hidden;
	font-size: 12px;
	height: 220px;
	width: 630px;
	position: relative;
	background-color: rgb(243, 243, 242);
	padding-top: 20px;
	margin-bottom: 1em;
}
#thumbnail a img {
	border: 1px solid #FFF;
	position: relative;
	/* margin-right: 100px; */ 
}
#thumbnail a:hover img {
	border: 1px solid #ecdf2b;
}
#thumbnail a {
	display: block;
	float: left;
	width: 200px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	color: rgb(112,128,144);
	font-weight: bold;
	text-decoration: none;
	line-height: 1.5em;
}
#thumbnail a:hover {
	color: #ecdf2b;
}

/*---------------------------------------------------------------------------*/
#main .new {
	overflow: auto;
	height: 150px;
	width: 640px;
	padding-left: 10px;
	padding-top: 15px;
}
#main .new dl {
	clear: left;
	width: 620px;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}
#main .new dt {
	font-weight: bold;
	float: left;
	width: 100px;
}
#main .new dd {
	float: left;
	width: 520px;
}
#main .new dd img {
	vertical-align: middle;
}
html #main .new dd img {
	margin-top:0.5em;
	vertical-align: baseline;
}

/*---------------------------------------------------------------------------*/
/*file footer*/
footer{
	position: relative;
}
#footer a:hover {
    color: #6FBC0C;	
}
footer .fbg{
	position: absolute;
	top: -77px;
	background: url("../images/footer.png");
	width: 100%;
	height: 164px;
}
footer .fbg ul.c.foot {
	margin: 0 auto; 
	text-align: center;
	list-style-type: none;
}
footer .fbg ul.c.foot li {
	position: relative;
	top: 90px;
	display: inline;
	padding-right: 10px;
}
footer .tail {
	position: relative;
	top: 90px;
	color: #fff;
	text-align: center;
    font-size: 13px;
}
footer .pr{
	position: relative;
	top: 90px;
	text-align: center;
}
footer a {
	color: rgb(255, 255, 255);
}
footer a:hover {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

/*---------------------------------------------------------------------------*/
/*to page-top*/
div#pt {
    position: relative;
    width: 960px;
    margin: 0 auto;
}
#page-top{
	width:50px;
	height:50px;
	display:none;
	position:fixed;
	margin-left: 930px;
	bottom:16px;
}
#page-top p{
	margin:0;
	padding:0;
	text-align:center;
	background: rgb(94, 87, 87);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#page-top p:hover{
	opacity: 0.7;
} 
#move-page-top{
	font-size: 20px;
	color: rgb(243, 243, 242);
	line-height: 50px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

/*
 * ---------------------------------------------------------------------------*/
/*modal window*/
.whitelayer{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: .6;
    z-index: 20;
}
.overlayer{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    /*top:50%;*/
    /*left:50%;*/
    width: 600px;
    height: 600px;
	background-color: rgba(0, 0, 0, .4);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
    z-index: 30;
}
.overlayer img{
	display: none;
	position: fixed;
	z-index: 40;
}
.overlayer input[type="button"]{
	position: relative;
	top: 525px;
	width: 250px;
	height: 60px;
	background-color: rgb(121, 189, 54);
	font-size: 20px;
	font-family: "HGMaruGothicMPRO";
	color: rgb(236, 223, 43);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* Firefox */
    /*-moz-box-shadow: 5px 5px 30px 0px rgb(94, 87, 87);*/
	/* Chrome & Safari */
	/*-webkit-box-shadow: 5px 5px 30px 0px rgb(94, 87, 87);*/
	/* Share */
	/*box-shadow: 5px 5px 30px 0px rgb(94, 87, 87);*/
	cursor: pointer;
}
/*
#overlayer .close{
    position:absolute;
    top: -10px;
    right:-10px;
    cursor:pointer;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: rgb(192,192,192);
    width: 36px;
    height: 36px;
    border-radius: 18px;
}
* */

.graylayer{
 	display: none;
    position: fixed;
    top: 0;
    left: 0;
 	width: 100%;
 	height: 100%;
 	background-color: rgba(192, 192, 192, .7);
    z-index: 20;
}
.recom-panel{
 	display: none;
 	position: relative;
 	width: 680px;
 	/*height: 100%;*/
	background-color: rgba(255, 255, 255, .7);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
 	z-index: 30; 
}

/*
---------------------------------------------------------------------------*/
/* Recommend ModalWindow Style */
div.rpl h3 {
	font-weight: bold;
	margin-top: 10px;
}
div.rpl p {
    font-size: 14px;
    margin: 20px;
}
div.rpl table {
    border-style: hidden;
    border-collapse: separate;
    margin: 20px;
}
div.rpl table tbody tr {
    font-size: 14px;
}
div.rpl table tbody tr td:nth-of-type(1) {
	width: 180px;
}
div.rpl table tbody tr td:nth-of-type(2) {
	text-align: left;
}
div#arw {
	position: relative;
	left: 47%;
}
#arw #circle {
    width: 40px;
    height: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
	/* Chrome & Safari */
    -webkit-box-shadow: 2px 2px 20px 10px rgba(121, 189 ,54, .6) inset;
    /* Firefox */
	-moz-box-shadow: 2px 2px 20px 10px rgba(121, 189, 54, .6) inset;
	/* Share */
    box-shadow: 2px 2px 20px 10px rgba(121, 189, 54, .6) inset;
    margin-top: -32px;
    z-index: 40;
}
#arw #arrow {
    position: relative;
    top: 15px;
    left: 4px;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-top-color: #fff;
    z-index: 50;
}

/*
---------------------------------------------------------------------------*/
.ta1 {
	width: 630px;
	margin-top: 20px;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #999;	/**/
	line-height: 2;
}
/**/
.ta1 td{
	width: 407px;
	padding: 10px;
	vertical-align: top;
}
/**/
.ta1 th{
	width: 200px;
	padding: 10px;
	text-align: center;
	background-color: #FFF100;
}
/**/
table.ta1.mb1em th.tamidashi{
	width: auto;
	text-align: left;
}

/*
---------------------------------------------------------------------------*/
.look {
	background-color: #d2d2d2;
}
.mb1em {
	margin-bottom: 1em;
}
c.mb1em {
    font-size: 18px;
}
.clear {
	clear: both;
}
ul.disc {
	padding: 0em 25px 1em;
	list-style: disc;
	text-align: left;
}
.color1 {
	color: #6FBC0C;
}
.c {
	text-align: center;
}
.pr {
	font-size: 10px;
}
.btn {
	font-size: 13px;
}
.wl {
	width: 96%;
}
.ws {
	width: 50%;
}
